body{
	background-color: #f1f1f1;
}
a, a:hover{
  color: blue;
}
header .navbar-custom{
	background-color: white !important;
	color: #000 !important;
	border-radius: 0;
	margin-bottom: 0px;
}
header .navbar-custom a{
	font-weight: 500 !important;
}

header .navbar-custom .active{
    color: white;
    background-color: blue;
}
header .navbar-brand{
	padding: 5px 15px !important;
}
header .intro-header{
    margin-top: 68px;
	 padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background:linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url(../images/intro-bg.jpg) no-repeat center center;
    background:-webkit-linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url(../images/intro-bg.jpg) no-repeat center center;
    background:-moz-linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url(../images/intro-bg.jpg) no-repeat center center;
    background:-o-linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url(../images/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}
header .intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    
}
header .intro-message h2{
  font-weight: 500;
	text-shadow: #000000 2px 1px 2px;
	-webkit-text-shadow: #000000 2px 1px 2px;
	-moz-text-shadow: #000000 2px 1px 2px;
	-o-text-shadow: #000000 2px 1px 2px;
  opacity: 0;
  
    
}
header .intro-message h2.first{
    
    animation-name: show;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

    -webkit-animation-name: show; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
}

header .intro-message h2.second{
    
    animation-name: show;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

    -webkit-animation-name: show; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s;
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */

}
@keyframes show{
    0%   {opacity:0;}
    25%  {opacity:0.25;}
    50%  {opacity:0.5;}
    50%  {opacity:0.75;}
    100% {opacity:1;}
}




main.main {
    background: #FFFFFF;
    position: relative;
    z-index: 3;
}
main.main-raised {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
main section{
	padding: 70px 0;
}
main .description{
	
	color: black;
}

main .description p{
	padding: 0px 150px;
	line-height: 30px;
}
main .portfolio{
  margin-top: -50px;
}

main .portfolio h2{
	margin-bottom: 50px;
}

main .card{
	margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.2);
  background-color: #fafafa;
  padding: 0 5%;
}
main .card-image{
  margin-top: -10%;
  width: 100%;
	border-radius: 6px;
	box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.5);
	-o-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.5);

}
main .portfolio .card{  
  margin: 50px 0;
}
main .portfolio .card-image{
  transition: transform .3s ease-out;
}
main .portfolio .card-image:hover{
  transform: translate(0, -20px);
}
main .portfolio .portfolio-info{
  margin:20px 0;
}
main .testimonial{
  margin-top: -70px;
}
main .testimonial h2{
	margin-bottom: 40px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

main .testimonial #fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
main .testimonial #fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
main .testimonial #fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
main .testimonial #fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
main .testimonial #fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
main .testimonial #fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
main .testimonial #fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
main .testimonial blockquote{
	margin-top: 20px;
}
main .testimonial blockquote p{
	line-height: 30px;
	font-size: 14px;
}

footer{
	padding:40px 0;
}
footer .social-icons{
	
	font-size: 20px ;

}
footer .social-icons a{
	margin-left: 10px;
	color: #000 !important;
}




/* Contact us */
header iframe{
  margin-top: 68px;
}
main .contact-content {
    padding-bottom: 40px;
    padding-top: 40px;
}
main .contact-content .container{
      max-width: 970px;
}
main .contact-content .info {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
    padding-bottom: 10px;
    padding-top: 0;
}
main .contact-content .info-horizontal .icon {
    float: left;
    margin-top: 24px;
    margin-right: 10px;
}
main .contact-content .info-horizontal .icon>i {
    font-size: 2.6em;
}
main .contact-content .info-horizontal .contact-description {
    overflow: hidden;
}
main .contact-content h2.title {
    margin-bottom: 20px;
}

/* Blog */
main .post{
  margin: 100px 0 50px 0; 
}
main .post .post-description{
  margin: 30px 0;
}
main .post .post-description h6{
  display: inline-block;
  margin-right: 30px;
  margin-top: 0;
  font-style: italic;
}
main .post .post-description p{
  line-height: 1.6;
}
main .post .action{
  text-align: right;
}
main .post .like, main .post .comment{
  display: inline-block;
  margin-right: 30px;
}
main .action{
  margin-top: 20px;
}

main .right{
  padding: 50px 0;
}
main .right .card{
  padding: 10px 20px;
}
main .right .search .form-group{
  margin-top: 10px;
  display: inline-block;
}
main .right .search .form-group input{
  width: 209px;

}
.test{
  width:100px;
}